<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">IN+</h1>
        </div>
        <h3>Welcome to IN+</h3>
        <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
            <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
        </p>
        <p>Login in. To see it in action.</p>
        <form class="m-t" role="form" (submit)="submitLoginForm()">
            <div class="form-group">
                <label for="email">
                    <span>Username</span>
                </label>
                <input type="text" id="email" class="form-control" name="email" placeholder="Username" [(ngModel)]="userEmail" required>
            </div>
            <div class="form-group">
                <label for="password">
                    <span>Password:</span>
                </label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="userPassword" required>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

            <a href="#"><small>Forgot password?</small></a>
            <p class="text-muted text-center"><small>Do not have an account?</small></p>
            <a href="#" class="btn btn-sm btn-white btn-block">Create an account</a>
        </form>
        <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
    </div>
</div>
