<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Parsels List</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">This is</a>
            </li>
            <li class="active">
                <strong>Breadcrumb</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content parsels-list-wrapper">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#parcels-tabs-incoming">Incoming</a></li>
            <li class=""><a data-toggle="tab" href="#parcels-tabs-outgoing">Outgoing</a></li>
        </ul>
        <div class="tab-content">
            <div id="parcels-tabs-incoming" class="tab-pane active">
                <div class="panel-body">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <div class="ibox-tools">
                                <!-- Create Incommin Parsel form -->
                                <adding-form [title]="'Create an Incoming Parcel'" [buildingsData]="buildingsData" (onSubmit)="addIncomingParsel($event)"></adding-form>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <list-comp [dataList]="parselsList" [error]="error"></list-comp>
                        </div>
                    </div>
                </div>
            </div>
            <div id="parcels-tabs-outgoing" class="tab-pane">
                <div class="panel-body">
                    <div class="ibox-title">
                        <div class="ibox-tools">
                            <a href="#" class="btn btn-primary">Create an Outgoing Parcel</a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <list-comp [dataList]="parselsList"></list-comp>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="parcel_action_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="parcel_action_modal_label"></h4>
            </div>
            <div class="modal-body">
                <div class="alert hide"></div>
                <div class="custom-body"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary form-submit">Submit</button>
            </div>
        </div>
    </div>
</div>

