<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Recepient name</th>
        <th>Recepient surname</th>
        <th>Received</th>
        <th>Parcel Type</th>
        <th>Delivered by</th>
        <th>Picked up</th>
        <th>Pieces</th>
        <th>Status</th>
        <th></th>
    </tr>
    </thead>
    <tbody *ngIf="error">
    <tr>
        <td colspan="7">
            <div class="alert alert-danger"><strong>Error:</strong> {{error}}</div>
        </td>
    </tr>
    </tbody>
    <tbody *ngIf="!error">
    <tr *ngFor="let item of dataList; let i = index;">
        <td>{{i + 1}}</td>
        <td>{{item.firstName}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.createdAt | date:'shortDate'}}</td>
        <td>{{item.parcelType}}</td>
        <td>{{item.parcelPostService}}</td>
        <td>...</td>
        <td>{{item.numberPieces}}</td>
        <td>{{item.status}}</td>
        <!--<td>-->
            <!--<template [ngIf]="item.status == 'Picked up'">-->
                <!--<span class="label label-primary">{{item.status}}</span>-->
            <!--</template>-->
            <!--<template [ngIf]="item.status == 'Received'">-->
                <!--<span class="label label-info">{{item.status}}</span>-->
            <!--</template>-->
        <!--</td>-->
        <td>
            <adding-form [title]="'<i class=\'fa fa-paste\'></i>Edit'" [editMode]="true" [editItemIndex]="i" [parselItem]="item" (onSubmit)="editParselItem($event.index, $event.item)"></adding-form>
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" aria-expanded="false">Action <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-id="" data-action="pick_up" data-title="" data-toggle="modal" data-target="#parcel_action_modal">Pick Up</a></li>
                    <li><a href="#" data-id="" data-action="return" data-title="" data-toggle="modal" data-target="#parcel_action_modal">Return</a></li>
                </ul>
            </div>
        </td>
    </tr>
    </tbody>
</table>
